h2{
    font-family: 'Playfair Display SC', serif;
    color: #E63462;
    padding-top: 30px;
    text-decoration: underline;
}

.row{
    font-family: 'Slabo 27px', serif;
}
.thumbnail{
    padding: 5px;
    height: 150px;
    background-color: #FFF
    border: none;
}
.thumbnail h3{
    color: #E63462;
}
.header{
    height: 400px;
    overflow-y: hidden;
    padding: 5px;
}
.container{
    background-image: url("images/newyork.jpg")
}